.App {
  background-color: #ebe9e7;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px;
}

.form-container:last-child {
  align-items: flex-start;
}

.recipe-card {
  width: 300px;
  height: 300px;
  margin: 40px;
}

/* .form-input-title {
  margin: auto;
} */
/* .card-btn {
  align-items: center;
} */
